.categoryContainer {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
}

@media only screen and (max-width: 1024px) {
    .categoryContainer {
        flex-direction: row;
        margin-top: 20px;
        flex-wrap: wrap;
    }

    .categoryItem {
        padding: 10px 15px;
        background-color: #FFFFFF;
        border-radius: 10px;
    }
}

@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 425px) {
    .categoryItem {
        font-size: 12px;
    }

    .categoryListTitle {
        font-size: 14px;
    }
}