.contentContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}

.productsWrapper, .totalWrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productsWrapper {
    width: 500px;
    overflow-y: scroll;
}

.totalWrapper {
    width: 250px;
    flex-direction: column;
    gap: 30px;
}

.totalContainer {
    display: flex;
    gap: 50px;
}

.totalFont {
    font-size: 32px;
    font-weight: bold;
    color: #777F90;
}

.buyButton {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 250px;
    height: 60px;

    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #02DFB2;
}

@media only screen and (max-width: 768px) {
    .contentContainer {
        flex-direction: column;
        align-items: center ;
        padding-top: 160px;
    }

    .productsWrapper {
        width: 100%;
    }
}
