.authContainer {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    width: 450px;
    max-width: 80vw;
    height: 500px;
    border-radius: 10px;
    padding: 0 64px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 
                0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.title{
    margin: 64px 0 32px 0;
    font-weight: 700;
    font-size: 36px;
    color: #7a7a7a;
}