.cartListContainer {
    height: 350px;
    overflow-y: scroll;
    z-index: 10;
}

.cartProductContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 500px;
    height: 60px;
    background-color: #FFFFFF;
}

.productImageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}


.productImage {
    height: auto;
    width: auto;
    max-height: 40px;
    max-width: 40px;
}

.productFont {
    font-size: 14px;
    font-weight: bold;
    color: #777F90;
}

.productName {
    width: 110px;
    height: 45px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.productQuantity {
    display: flex;
    align-items: center;
    gap: 10px;
}

.productPrice {
    width: 60px;
}

@media only screen and (max-width: 768px) {
    .cartProductContainer {
        width: 100vw;
    }

    .cartListContainer {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 425px) {
    .productFont {
        font-size: 12px;
    }
}
