* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    list-style: none;
}

body {
    background-color: #D8DFE9;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

input:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

/* D8DFE9 */