.searchContainer {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 36.6vw;
    max-width: 500px;
    min-width: 250px;
    height: 50px;

    padding: 13px;
}

.searchInput {
    width: 90%;
    font-size: 20px;
    padding-right: 10px;
}

.searchButton {
    width: 28;
    height: 28;
    padding: auto;
}

@media only screen and (max-width: 425px) {
    .searchContainer {
        width: 250px;
        min-width: 200px;
    }
}

@media only screen and (max-width: 320px) {
    .searchContainer {
        width: 200px;
    }
}
