.userMenuContainer {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}

.dropdownArrow {
    transition: transform 500ms;
}

.rotateIcon {
    transform: rotate(180deg);
}

@media only screen and (max-width: 769px) {
    .userMenuContainer {
        position: unset;
    }
}
